@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
list-style: none;
list-style-type: none;
display: flex;
padding-left:16px;
padding-right: 16px;
gap: 16px;
}

a{
  color:#636262;
  text-decoration: none;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 2px;
}
.footer{
  display: flex;
  justify-content:space-between;
  background-color: #eeeeee;
  padding: 2px;
}
.input{
  margin: 16px 8px;
}
